
#en-tete {
	overflow:hidden;
	background: url(../../img/fond-gris-bottom.png) bottom repeat-x; /* image simulant un border-bottom 1px solid */
	/*background: #dae0d2 url(../../img/fond.png) bottom repeat-x;*/
	margin-top:10px;
}

#en-tete ul {
	float:left;
	/*margin:16px 16px 0 0;*/
	margin:0 16px 0 0;
	padding:0;
	list-style:none;
}

#en-tete li {
	font-size:90%;
	float:left;
	margin-left: 3px;
}

#en-tete a,
#actif {
	float:left;
	text-decoration:none;
	padding-left:10px;
	background:url(../../img/coin-gauche.png) 0% -90px no-repeat;
}


#en-tete span,
#actif span {
	float:left;
	padding:6px 10px 3px 0;
	background:url(../../img/coin-droit.png) 100% -90px no-repeat;
	color:#264954;
}
	
#actif {
	background-position:0 0;
	border-bottom: 1px solid #fff;
	font-variant: small-caps;
}
#inactif {
	border-bottom: 1px solid #dae0d2;
	font-variant: small-caps;
}

#actif span {
	background-position:100% 0;
	color:#264954;
}

#en-tete a:hover,
#en-tete a:focus {
	background-position:0 -180px;
}
	
#en-tete a:hover span,
#en-tete a:focus span {
	background-position:100% -180px;
}

