

.nv-panel-closebar:hover {
	/*background-position:0 -13px;*/
	text-decoration:none;
}

.nv-panel-closebar,
.nv-panel-closebar:hover {
border:0 none;
text-decoration:none;
color:#990033;
}

.nv-panel-closebar a{
color:#264954;
}

.nv-panel-closebar a, .nv-panel-closebar:hover {
color:#990033;
border:0 none;
text-decoration:none;
}
	

.nv-panel-closebar {
	/*background:#444444 url(../../img/nv-panel-resizer.png) repeat-x scroll 0 0;*/
	cursor:pointer;
	display:block;
	height:13px;
	/*line-height:13px;*/
	/*text-align:center;*/
}

#docpanel .docs {
	border-right:	1px solid #304860;
	border-bottom:	1px solid #304860;
	border-left:	1px solid #90a0c0;
	border-top:		1px solid #90a0c0;
	background:#fff url(../../img/fond_form.png) ;
	color:#264954;
	padding:5px;
	text-align: center;
	overflow:hidden;
	margin-top:3px;
	z-index: 1001;
	position: absolute;
	}

#docpanel .docs ul {
	float:left;
	list-style:none;
	text-align:left;
	}

#docpanel .docs li {
	float:none; /* annulation du float left */
	/*margin-left: 20px;*/
}


#docpanel .docs ul.categorie {
	float:left;
	border-left: 1px solid #ccc;
	margin:0 0 0 10px;
	/*padding:3px;*/
	list-style:none;
	text-align:left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	width:200px;
	}
	
#docpanel .docs ul.categorie li {
	float:none; /* annulation du float left */
	margin-left: 20px;
}
#docpanel .docs p.title-ul { 
	text-align:left;   
	font-weight: bold;
	margin:0;
	overflow:hidden;
}

#docpanel a{
	color: #264954;
	/*font-size:130%;*/
	text-decoration: none;
}
#docpanel a:hover{
	color: #990033;
	text-decoration: underline;
}


