fieldset { 
	border: 2px solid #9391C0;
	padding: 10px;
	/*padding: 10px 20px 10px 20px;*/
	margin: 5px;
}

legend { 
	/*border: 2px solid #2080D0;*/
	font: bold 120% Verdana,arial,helvetica,"bitstream vera sans",sans-serif;
	color: #264954;
	padding: 5px 20px;
	margin-left: -20px;
}

fieldset.mainField { 
	border: 0px none;
	border-top: 1px solid #616161;
	/*padding: 10px 0px;*/
	/*border: 2px solid #820000;
	padding: 20px 30px 20px 30px;
	margin: 5px;*/
}

legend.mainLegend { 
	/*border: 2px solid #820000;*/
	font: bold 150% arial,helvetica,"bitstream vera sans",sans-serif;
	color: #616161;
	/*color: #820000;*/
	padding: 5px 20px;
	margin-left: 20px;
	/*margin-left: -20px;*/
}

/*
legend {
-x-system-font:none;
color:#fff;
font-family:tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}*/


